# allow libusb to work with non-root users
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0075", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0076", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="007a", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="007d", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="007f", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0081", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0082", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0083", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0084", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0085", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0086", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="008a", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="008b", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="008c", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="008d", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0090", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0092", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0093", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0094", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0095", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0098", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0099", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="009a", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="009b", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="009c", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="009d", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="009e", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="009f", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00a1", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00a2", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00a3", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00a4", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00ae", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00af", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00b0", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00b9", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00bb", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00bc", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00bd", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00c4", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00c5", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00c6", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00d0", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00d1", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00e8", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00e9", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00ea", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00f0", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00f2", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00f9", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00fd", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="00fe", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0110", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0111", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0112", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0113", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0114", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0119", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="011a", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="011c", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0120", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0121", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0127", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="012b", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="012c", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="012e", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0131", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0133", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0134", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0135", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="0136", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="013d", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="09db", ATTR{idProduct}=="013e", MODE="0666", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ATTR{idVendor}=="10c4", ATTR{idProduct}=="0002", MODE="0666", TAG+="uaccess", TAG+="udev-acl"

# Enable non-root access to HID devices
KERNEL=="hiddev*", NAME="hiddev%n", MODE="0666", TAG+="uaccess", TAG+="udev-acl"

# Enable non-root access to HID devices
KERNEL=="hidraw*", NAME="hidraw%n", MODE="0666", TAG+="uaccess", TAG+="udev-acl"

#Enable non-root access to pci devices
SUBSYSTEM=="dda0x-12",   KERNEL=="dda0x-12/da[0-9]_[0-7]",   MODE="0666"
SUBSYSTEM=="dda0x-12",   KERNEL=="dda0x-12/dio[0-9]_*",      MODE="0666"
SUBSYSTEM=="dda0x-16",   KERNEL=="dda0x-16/da[0-9]_[0-7]",   MODE="0666"
SUBSYSTEM=="dda0x-16",   KERNEL=="dda0x-16/dio[0-9]_*",      MODE="0666"

SUBSYSTEM=="dio24",      KERNEL=="dio24/dio[0-9]_*",         MODE="0666"
SUBSYSTEM=="dio24H",     KERNEL=="dio24H/dio[0-9]_*",        MODE="0666"
SUBSYSTEM=="dio48H",     KERNEL=="dio48H/dio[0-9]_*",        MODE="0666"
SUBSYSTEM=="dio96",      KERNEL=="dio96/dio[0-9]_*",         MODE="0666"
SUBSYSTEM=="dio96H",     KERNEL=="dio96H/dio[0-9]_*",        MODE="0666"
SUBSYSTEM=="di192",      KERNEL=="di192/di_*",               MODE="0666"

SUBSYSTEM=="das08",      KERNEL=="das08/ad[0-9]_[0-7]",      MODE="0666"

SUBSYSTEM=="das4020-12", KERNEL=="das4020-12/ad[0-9]_[0-4]", MODE="0666"
SUBSYSTEM=="das4020-12", KERNEL=="das4020-12/da[0-9]_[0-1]", MODE="0666"
SUBSYSTEM=="das4020-12", KERNEL=="das4020-12/dio[0-9]_*",    MODE="0666"

SUBSYSTEM=="das1602-16", KERNEL=="das1602-16/ad[0-9]_*",     MODE="0666"
SUBSYSTEM=="das1602-16", KERNEL=="das1602-16/da[0-9]_[0-1]", MODE="0666"
SUBSYSTEM=="das1602-16", KERNEL=="das1602-16/dio[0-9]_*",    MODE="0666"

SUBSYSTEM=="pcim-das1602-16", KERNEL=="pcim-das1602-16/ad[0-9]_*",     MODE="0666"
SUBSYSTEM=="pcim-das1602-16", KERNEL=="pcim-das1602-16/da[0-9]_[0-1]", MODE="0666"
SUBSYSTEM=="pcim-das1602-16", KERNEL=="pcim-das1602-16/dio[0-9]_*",    MODE="0666"

SUBSYSTEM=="pcim-das16jr",    KERNEL=="das16jr/ad[0-9]_*",     MODE="0666"

SUBSYSTEM=="pci-2500",   NAME="db3k/%k", MODE="666"

SUBSYSTEM=="das1000",    KERNEL=="das1000/ad[0-9]_*",        MODE="0666"
SUBSYSTEM=="das1000",    KERNEL=="das1000/dio[0-9]_*",       MODE="0666"
SUBSYSTEM=="das1001",    KERNEL=="das1001/ad[0-9]_*",        MODE="0666"
SUBSYSTEM=="das1001",    KERNEL=="das1001/dio[0-9]_*",       MODE="0666"
SUBSYSTEM=="das1001",    KERNEL=="das1001/da[0-9]_[0-1]",    MODE="0666"
SUBSYSTEM=="das1002",    KERNEL=="das1002/ad[0-9]_*",        MODE="0666"
SUBSYSTEM=="das1002",    KERNEL=="das1002/dio[0-9]_*",       MODE="0666"
SUBSYSTEM=="das1002",    KERNEL=="das1002/da[0-9]_[0-1]",    MODE="0666"

SUBSYSTEM=="ctr05",      KERNEL=="ctr05/ctr[0-9]_*",         MODE="0666"
SUBSYSTEM=="ctr05",      KERNEL=="ctr05/dio[0-9]_*",         MODE="0666"

SUBSYSTEM=="ctr10",      KERNEL=="ctr10/ctr[0-9]_*",         MODE="0666"
SUBSYSTEM=="ctr10",      KERNEL=="ctr10/dio[0-9]_*",         MODE="0666"

SUBSYSTEM=="ctr20HD",    KERNEL=="ctr20HD/ctr[0-9]_*",       MODE="0666"

SUBSYSTEM=="quad04",     KERNEL=="quad04/channel[0-9]_*",    MODE="0666"

